<h2>Изменение аватара</h2>
<form id="form-avatar" class="register" action="/ajax/user/avatar" method="post" enctype="multipart/form-data">
    <br><br><div class="field-file">
        <div>Выбрать аватар</div>
        <input type="file" name="avatar" size="1">
    </div><br><br>
    <button id="avatar-btn-save" class="btn">Сохранить</button>
</form>