<h2>Напоминание пароля</h2>
<form id="form-forget" class="register" action="/ajax/user/forget" method="post">
    <input type="text" id="forget-login" name="login" placeholder="Логин (E-mail)"><br>
    <button id="cabin-btn-forget" class="btn">Отправить пароль</button>
</form>