<img class="compass" src="/bundles/public/img/compass.png">
<h1>Будь в курсе!</h1>
<h3>Следи за ходом турнира</h3>
<div><p>Следите за обновлениями на сайте.<br> Новая игра начнется совсем скоро!</p></div>