<h2>Изменение пароля</h2>
<form id="form-password" class="register" action="/ajax/user/password" method="post">
    <input type="password" id="password-old" name="password_old" placeholder="Старый пароль"><br>
    <input type="password" id="password" name="password" placeholder="Новый пароль"><br>
    <input type="password" id="password-again" name="password_again" placeholder="Новый пароль еще раз"><br>
    <button id="cabin-btn-password" class="btn">Сохранить изменения</button>
</form>