<img src="/bundles/public/img/compass.png">
<h2>Поздравляем!</h2>
<h3>вы успешно прошли регистрацию<br>
и получили настоящую<br>
морскую профессию</h3>
<div><p>Следите за обновлениями на сайте.<br> Удачи в боях, походах и грабежах!</p></div>