<div class="game-large-container">
    <div id="game-battle" class="game-battle">
        <div class="relative">
            <div class="timer" id="timer"></div>
            <div class="gamer" id="user">

            </div>
            <div class="gamer" id="rival1">

            </div>
            <div class="gamer" id="rival3">

            </div>
            <div class="battlefield" id="battlefield">

            </div>
            <div class="chat" id="chat">
                <div class="chat-text-container" id="chat-messages" >
                    <div class="message"><span><a data-name="Джек Воробей 1" data-role="Пороховая обезьяна1" data-ship="Черная жемчужина" href="#">Джек</a>:</span> Ребята, как думаете, кто украл сердце Деэви? Он мне звонил вчера, говорит - нету(</div>
                    <div class="message"><span><a data-name="Константин Стародубозаборов" data-role="Пороховая обезьяна2" data-ship="Черная жемчужина2" href="#">Элизабет</a>:</span> Не понимаю, о чем ты, Джек.</div>
                    <div class="message"><span><a data-name="Джек Воробей 2" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Уилл</a>:</span> Я тоже. Хи-хи-хи</div>
                    <div class="message"><span><a data-name="Константин Стародубозаборов" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Джек</a>:</span> Ребята, как думаете, кто украл сердце Деэви? Он мне звонил вчера, говорит - нету(</div>
                    <div class="message"><span><a data-name="Джек Воробей 3" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Элизабет</a>:</span> Не понимаю, о чем ты, Джек.</div>
                    <div class="message"><span><a data-name="Константин Стародубозаборов" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Уилл</a>:</span> Я тоже. Хи-хи-хи</div>
                    <div class="message"><span><a data-name="Джек Воробей 4" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Джек</a>:</span> Ребята, как думаете, кто украл сердце Деэви? Он мне звонил вчера, говорит - нету(</div>
                    <div class="message"><span><a data-name="Джек Воробей 5" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Элизабет</a>:</span> Не понимаю, о чем ты, Джек.</div>
                    <div class="message"><span><a data-name="Джек Воробей 6" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Уилл</a>:</span> Я тоже. Хи-хи-хи</div>
                    <div class="message"><span><a data-name="Джек Воробей 7" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Джек</a>:</span> Ребята, как думаете, кто украл сердце Деэви? Он мне звонил вчера, говорит - нету(</div>
                    <div class="message"><span><a data-name="Джек Воробей 8" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Элизабет</a>:</span> Не понимаю, о чем ты, Джек.</div>
                    <div class="message"><span><a data-name="Джек Воробей 9" data-role="Пороховая обезьяна" data-ship="Черная жемчужина" href="#">Уилл</a>:</span> Я тоже. Хи-хи-хи</div>
                </div>
                <input type="text" id="chat-message" placeholder="Добавить сообщение"> <button id="chat-btn-send" class="btn">Отправить</button>
                <div id="chat-user-info">
                    <a href="#"></a>
                    <div class="role"></div>
                    <div class="ship"></div>
                </div>
            </div>
        </div>
    </div>
</div>