<div class="game-large-container">
    <div id="game-battle" class="game-battle">
        <div class="relative">
            <div id="battle"></div>
            <div class="gamer gamer1" id="user">
                <div class="ship gamer_red"></div>
                <div class="info">
                    <span class="dead">3 сбито</span>,
                    <span class="alive">3 живо</span>
                </div>
                <img src="/bundles/public/img/flag/flag1.png" class="flag" />
                <div class="name">Длинное название в 3 строчки</div>
            </div>
            <div class="mark-red"></div>
            <div class="mark-green"></div>
            <div class="mark-brown"></div>
            <div class="gamer gamer2" id="rival1">
                <div class="ship gamer_green"></div>
                <div class="info">
                    <span class="dead">6 сбито</span>,
                    <span class="alive">0 живо</span>
                </div>
                <img src="/bundles/public/img/flag/flag2.png" class="flag" />
                <div class="name">Длинное название в 3 строчки</div>
            </div>
            <div class="gamer gamer3" id="rival2">
                <div class="ship gamer_brown"></div>
                <div class="info">
                    <span class="dead">1 сбит</span>,
                    <span class="alive">5 живо</span>
                </div>
                <img src="/bundles/public/img/flag/flag3.png" class="flag" />
                <div class="name">Длинное название в 3 строчки</div>
            </div>

            <div class="arrow arrow1"></div>
            <div class="arrow arrow2"></div>
            <div class="arrow arrow3"></div>

        </div>
    </div>
</div>
