<div class="game-large-container">
    <div id="game-duel" class="game-duel">
        <div class="relative">
            <div class="question">
                <div id="timer" class="timer">0:25</div>
                <div class="title"><strong>Вопрос <span id="qnum">1</span> из 25</strong></div>

                <div class="text" id="questions">
                    Очередность хода игроков предопределяет Морской дьявол. Каждый из игроков видит 1 поле только со своими кораблями. Вражеские корабли скрыты. Игроки по очереди совершают выстрелы. При попадании во вражеский корабль игрок делает повторный выстрел. Выстрел: За ограниченное время (например, 5-10 секунд) выбранный игрок от каждой из команд совершает прицеливание (выбор клетки) Очередность хода игроков предопределяет Морской дьявол. Каждый из игроков видит 1 поле только со своими кораблями.
                </div>
                <ul class="answers" id="answers">
                    <li><input type="radio" id="answer_1" name="answer" value="1" />
                        <label for="answer_1">Иду на улицу и стреляю по птицам из рогатки, а потом думаю, на каких островах мне провести очередной отпуск.</label></li>
                    <li><input type="radio" id="answer_2" name="answer" value="2" />
                        <label for="answer_2">Ем что-то вкусное, сладкое и вредное, а потом отправляюсь в бассейн и плаваю до посинения.</label> </li>
                    <li><input type="radio" id="answer_3" name="answer" value="3" />
                        <label for="answer_3">Ору на всех, кто попадается под руку, затем извиняюсь и иду в кино на какой-нибудь фильм, про острова, где все живут счастливо.</label></li>
                </ul>
            </div>

        </div>
        <div class="gamer" id="gamer1">
            <img src="/bundles/public/img/gamer1.jpg">
            <div class="name">Константин Стародубозаборов</div>
            <div class="ship">Адский галлеон синего пламени имени Владимира Ильича Ленина</div>
            <div class="action">
                <button class="btn">Ответить</button>
            </div>
        </div>
        <div class="gamer enemy" id="gamer2">
            <img src="/bundles/public/img/gamer1.jpg">
            <div class="name">Константин Стародубозаборов</div>
            <div class="ship">Адский галлеон синего пламени имени Владимира Ильича Ленина</div>
            <div class="action">
                <div class="message">Соперник отвечает</div>
            </div>
        </div>

    </div>
</div>