<div class="game-large-container">
    <div id="game-labirint" class="game-labirint">
        <div class="relative">
            <div id="timer">25:00</div>
            <div id="ship-map"></div>

            <div id="step7" class="step"></div>
            <div id="step11" class="step"></div>
            <div id="step15" class="step"></div>
            <div id="step24" class="step"></div>
            <div id="step27" class="step"></div>
            <div id="step29" class="step"></div>
            <div id="step30" class="step"></div>
            <div id="step33" class="step"></div>
            <div id="step36" class="step"></div>
            <div id="step41" class="step"></div>
            <div id="step46" class="step"></div>
            <div id="step58" class="step"></div>
            <div id="step61" class="step"></div>
            <div id="step65" class="step"></div>
            <div id="step69" class="step"></div>
            <div id="step72" class="step"></div>
            <div id="step75" class="step"></div>
            <div id="step80" class="step"></div>
            <div id="step82" class="step"></div>
            <div id="step84" class="step"></div>
            <div id="step87" class="step"></div>
            <div id="step94" class="step"></div>
            <div id="step98" class="step"></div>

            <div id="step5" class="step death"></div>
            <div id="step8" class="step money"></div>
            <div id="step9" class="step time"></div>
            <div id="step14" class="step chest"></div>
            <div id="step19" class="step rom"></div>
            <div id="step23" class="step coffee"></div>
            <div id="step38" class="step chest"></div>
            <div id="step40" class="step time"></div>
            <div id="step42" class="step death"></div>
            <div id="step44" class="step time"></div>
            <div id="step45" class="step money"></div>
            <div id="step49" class="step time"></div>
            <div id="step51" class="step coffee"></div>
            <div id="step54" class="step death"></div>
            <div id="step59" class="step time"></div>
            <div id="step63" class="step money"></div>
            <div id="step70" class="step money"></div>
            <div id="step74" class="step time"></div>
            <div id="step83" class="step chest"></div>
            <div id="step85" class="step money"></div>
            <div id="step86" class="step time"></div>
            <div id="step90" class="step time"></div>
            <div id="step95" class="step chest"></div>
            <div id="step96" class="step time"></div>
            <div id="step97" class="step money"></div>

            <div id="marker1" class="cell0"></div>
            <div id="marker2" class="cell0"></div>
            <div id="marker3" class="cell0"></div>
            <div id="marker4" class="cell0"></div>

            <div class="info">
                <div class="wrap">
                    <div id="dice" class="dice dice_1"></div>
                </div>
                {#<p id="result">Pease click above dice!</p>#}
                {#<button class="btn-go">Сделать ход</button>#}
                {#<div class="message">Ход делает<br>красный игрок!</div>#}
                {#<div class="dice dice1"></div>#}

            </div>
        </div>
    </div>
</div>