.game-battle {
    /*text-align: center;*/
    min-height: 600px;
    margin: 0 -40px;
}

.game-battle button#btn-reload {
    font-family: 'Beryozki', Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 40px;
    font-style: normal;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 5px;
    width: 300px;
    height: 90px;
    border-radius: 45px;
    border-width: 2px;
    border-style: solid;
    text-transform: uppercase;
}

.game-battle .gamer {
    width: 130px;
    padding-bottom: 20px;
    position: absolute;
    left: 10px;
}

.game-battle .gamer .info {
    position: relative;
    float: right;
    font-family: 'Beryozki', Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}

.game-battle .gamer img.flag {
    max-width: 115px;
    display: block;
    margin: 10px auto;
}

.game-battle .gamer .name {
    text-align: center;
    padding: 0 5px;

}

.game-battle .arrow {
    position: absolute;
    left: 146px;
}

.game-battle .mark-red {
    position: absolute;
    width: 39px;
    height: 40px;
    top: 30px;
    left: 0;
    background-image: url('../img/battle/gamer_red.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
}

.game-battle .mark-green {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 225px;
    left: 0;
    background-image: url('../img/battle/gamer_green.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
}

.game-battle .mark-brown {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 415px;
    left: 0;
    background-image: url('../img/battle/gamer_brown.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 10;
}

.game-battle .arrow1 {
    width: 74px;
    height: 238px;
    top: 80px;
    background-image: url('../img/battle/arrow1.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.game-battle .arrow2 {
    display: none;
    width: 71px;
    height: 52px;
    top: 270px;
    background-image: url('../img/battle/arrow2.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.game-battle .arrow3 {
    display: none;
    width: 77px;
    height: 239px;
    top: 300px;
    background-image: url('../img/battle/arrow3.png');
    background-position: 0 0;
    background-repeat: no-repeat;
}

.game-battle .gamer1 {
    top: 15px;
}

.game-battle .gamer2 {
    top: 210px;
}

.game-battle .gamer3 {
    top: 400px;
}



